.git/**
.github/**
.vscode/**
.vscode-test/**
node_modules/.cache/**
src/**
test/**
testdata/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.ts
*.map
.gitignore
.yarnrc
README-dev.md
vsc-extension-quickstart.md
